main{
    display: flex;
    font-family: 'Poppins', sans-serif;
}
main aside{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #eeeeee;
}
main aside .header{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main aside .header h1{
    font-size: 20px;
    margin: 0px;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    color: #6A4029;
}
main aside .header p{
    width: 70%;
    text-align: center;
    font-size: 13px;
}
main aside .content{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main aside .content .promo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
main aside .content .promo .prmcard{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 15px;
    width: 302px;
    height: 80px;
    cursor: pointer;
    transition-duration: 55ms;
}
main aside .content .promo .prmcard:hover{
    transform: scale(1.1);
}
main aside .content .promo .prmcard .image{
    width: 25%;
    height: 85px;
    margin-top: -15px;
}
main aside .content .promo .prmcard .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    width: 75%;
}
main aside .content .promo .prmcard .title p{
    margin: 0px;
}
main aside .content .action .btn{
    margin-top: 40px;
    border: none;
    width: 270px;
    height: 50px;
    background-color: #6A4029;
    color: #ffffff;
    font-weight: 510;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    transition-duration: 50ms;
    cursor: pointer;
}
main aside .content .action .btn:hover{
    background-color: #ffba33;
    font-weight: 700;
    box-shadow: 1px 1px 10px #cccccc;
    color: #6A4029;
    transform: scale(1.1);
}
main aside .terms ol{
    background-color: rgb(255, 255, 255);
    margin-left: -90px;
    margin-top: 80px;
    margin-bottom: 50px;
    font-family: rubik;
}
main aside .terms ol b{
    margin-left: -8px;
    font-size: 10px;
}
main aside .terms ol li{
    margin: 5px;
    font-weight: normal;
    font-size: 10px;
    font-family: 'rubik', sans-serif;
}
.green{
    background-color: #88B788;
}
.yellow{
    background-color: #f5c361;
}
.red{
    background-color: #C59378;
}
@media screen and (max-width: 768px){
    main{
        display: flex;
    }
    main aside{
        width: 30%;
        justify-content: center;
        align-items: center;
        border-right: 2px solid #eeeeee;
    }
    main aside .header{
        padding-top: 30px;
    }
    main aside .header p{
        width: 70%;
        text-align: center;
        font-size: 13px;
    }
    main aside .content{
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main aside .content .promo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 100px;
        padding: 10px 10px 0 10px;
        overflow: scroll;
    }
    main aside .content .promo .prmcard{
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 15px;
        width: 100%;
        height: 80px;
        cursor: pointer;
        transition-duration: 55ms;
    }
    main aside .content .promo .prmcard:hover{
        transform: scale(1.1);
    }
    main aside .content .promo .prmcard .image{
        width: 25%;
        height: 85px;
        margin-top: -15px;
    }
    main aside .content .promo .prmcard .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 10px;
        font-family: 'Poppins', sans-serif;
        width: 75%;
    }
    main aside .content .promo .prmcard .title p{
        margin: 0px;
    }
    main aside .content .action{
        width: 80%;
    }
    main aside .content .action .btn{
        margin-top: 40px;
        border: none;
        width: 100%;
        height: 50px;
    }
    main aside .terms ol{
        margin-left: 0;
        margin-top: 30px;
    }
}
@media screen and (max-width: 576px){
    main{
        display: flex;
        flex-direction: column;
    }
    main aside{
        width: 100%;
        justify-content: center;
        align-items: center;
        border-right: 2px solid #eeeeee;
    }
    main aside .header{
        padding-top: 30px;
    }
    main aside .header p{
        width: 70%;
        text-align: center;
        font-size: 13px;
    }
    main aside .content{
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main aside .content .promo{
        padding: 10px 10px 0 10px;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        overflow-x: auto;
    }
    main aside .content .promo .prmcard{
        display: flex;
        margin-bottom: 15px;
        margin-right: 10px;
        padding: 10px;
        padding-right: 30px;
        border-radius: 15px;
        width: 400px;
        height: 80px;
        cursor: pointer;
        transition-duration: 55ms;
    }
    main aside .content .promo .prmcard .title{
        width: 150px;
        margin-left: 10px;
        font-size: 10px;
    }
    main aside .content .promo .prmcard .image img{
        width: 75px;
        height: 100px;
        margin-top: 0;
    }
    main aside .terms ol{
        margin-left: -70px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}