.product{
  width: 70%;
}
.product .navmenu .barmenu{
  height: 50px;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin: 0;
  margin-left: 10%;
}
.product .navmenu .barmenu li{
  margin: 0 30px 0 30px;
  font-size: 15px;
  font-weight: 400;
  color: #9F9F9F;
}
.product .navmenu .barmenu li:hover{
  color: #6A4029;
  font-weight: 600;
  border-bottom: 3px solid #6A4029;
}
.row{
  width: 100%;
  margin-left: 0;
  padding: 80px 90px 0 60px;
  align-items: center;
  justify-content: center;
}
.row .card{
  position: relative;
  width: 17%;
  height: 180px;
  text-align: center;
  border-radius: 30px;
  margin: 0 20px 8% 20px;
  box-shadow: 1px 1px 10px #cccccc;
  transition-duration: 55ms;
  cursor: pointer;
}
.row .card:hover{
  transform: scale(1.1);
}
.row .card img{
  width: 100px;
  height: 100px;
  position: absolute;
  top: -35px;
  left: 15px;
  border-radius: 100px;
}
.row .card .disc{
  background-color: white;
  position: absolute;
  padding: 10px 5px;
  font-size: 25px;
  top: -90px;
  left: 80px;
  border-radius: 20px;
}
.row .card p{
  margin-top: 85px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}
.row .card .harga{
  margin-top: -10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 580;
  font-size: 15px;
  color: #6A4029;
}
.row .card .hargaveg{
  margin-top: -15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 580;
  font-size: 15px;
  color: #6A4029;
}
.row .card .veggie{
  margin-top: 70px;
}
.product .end{
  color: #6A4029;
  font-size: 15px;
  margin: 0 0 0 15%;
  font-weight: 500;
}
@media screen and (max-width: 768px){
  .product{
    width: 70%;
  }
  .product .navmenu{
    width: 100%;
    padding: 10px;
  }
  .product .navmenu .barmenu{
    width: 100%;
    justify-content: left;
    padding: 0;
    margin: 0;
  }
  .product .navmenu .barmenu li{
    margin:0 20px 0 10px;
  }
  .row{
    width: 100%;
    height: 500px;
    margin-left: 0;
    padding: 50px 0 0 0;
    align-items: center;
    justify-content: center;
    overflow: scroll;
  }
  .row .card{
    width: 24.5%;
    margin-bottom: 63px;
  }
  .product .end{
    color: #6A4029;
    font-size: 15px;
    margin: 90px 0 0 50px;
    font-weight: 500;
    margin: 20px 0 0 30px;
  }
}
@media screen and (max-width: 576px) {

  .product{
    width: 100%;
  }
  .product .navmenu{
    width: 100%;
    height: 60px;
    overflow: scroll;
  }
  .product .navmenu .barmenu{
    width: 600px;
    justify-content: left;
    padding: 0;
  }
  .product .navmenu .barmenu li{
    margin:0 20px 0 20px;
  }
  .product .navmenu .barmenu li:hover{
    color: #6A4029;
    font-weight: 600;
    border-bottom: 3px solid #6A4029;
  }
  .row{
    width: 100%;
    height: 500px;
    padding: 0;
    padding-top: 10px;
    overflow: scroll;
  }
  .row .card{
    width: 35%;
    margin: 30px 20px;
    height: 180px;
  }
  .row .card .veggie{
    margin-top: 80px;
  }
  .product .end{
    color: #6A4029;
    font-size: 15px;
    margin: 90px 0 0 50px;
    font-weight: 500;
    margin: 20px 0 0 30px;
  }
}