aside{
    width: 40%;
    height: 1140px;
    background-position: center;
    background-size: cover;
    background-image: url(https://s3-alpha-sig.figma.com/img/94cf/d4df/dd22d129a5bbab44da4da62471dafa2a?Expires=1621814400&Signature=dGnxWEBIn-DM1jS16g~BYyemt7MMgXZf7QSuCFNDmfvGCLnBfwMjEdRTq~Qh9ukc3ZFCMhM7~2E3ZtY6rs1hUkJq4CrXCBo9~XZkjD4uV4wlCwnDowNDTS8PgtzRMSbsIlHKOMvIGHWmS1P9aMsLGz7Z5OSMl9U5S51QkUbHqwesMvFq30XgxYYgdLBozUI6YMciXWOUNfomOzrExiTKjim1LnaMFHOea0JjqWKz7OpYErudeGqae7B5qbmY3SQ8Xp7ZcQQb8GXHMxFsIv8zL1oAlWH7O2WBMrlSuGXg39dUdtqnEJ8P9bybZLHPETjY6FADxrjf12IMHazLHVFbDw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
}

@media screen and (max-width: 768px){
    aside{
        width: 30%;
    }
}
@media screen and (max-width: 576px) {
    aside {
        display: none;
    }
}
