footer{
    background-color: #F8F8F8;
    height: 460px;
    display: flex;
}
.logo2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    margin-top: 150px;
}
.logo2 img{
    width: 25px;
    height: 25px;
}
.logo2 h1{
    font-size: 20px;
    font-weight: 700;
    left: 11px;
}
.part1 p{
    margin-top: 10px;
    margin-left: 145px;
    font-size: 15px;
    font-weight: 550;
    font-family: 'rubik', sans-serif;
    text-align: left;
    color: #4F5665;
    line-height: 20px;
}
footer .social{
    display: flex;
    margin-left: 128px;
}
footer .social img{
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition-duration: 55ms;
}
footer .social img:hover{
    transform: scale(1.1);
}
footer .credit{
    margin-top: 5px;
    color: #AFB5C0;
    font-weight: normal;
    font-size: 12px;
}
footer ol{
    margin-top: 160px;
    margin-left: 360px;
    list-style-type: none;
}
footer ol b{
    font-size: 18px;
}
footer ol li{
    font-family: 'rubik', sans-serif;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    color: #4F5665;
}
footer ol li:hover{
    color: #6a4029;
    font-weight: 600;
}
footer .part3 ol{
    margin-left: 100px;
}
@media  screen and (max-width: 576px) {
    footer{
        background-color: #F8F8F8;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 20px;
    }
    .part1{
        width: 90%;
        margin-left: 16px;
    }
    .logo2{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 50px 0 0 0;
    }
    .logo2 img{
        width: 25px;
        height: 25px;
    }
    .logo2 h1{
        font-size: 20px;
        font-weight: 700;
        margin-left: 5px;
        margin-top: 14px;
    }
    .part1 p{
        margin: 0 0 10px 0;
        padding: 0;
    }
    footer .social{
        margin: 0 0 0 -10px;
    }
    footer .part2{
        display: none;
    }
    footer .part3 ol{
        display: none;
    }
}