.navbar{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    border-bottom: 2px solid #eeeeee;
    padding-left: 2%;
}
.navbar.icon{
    width: 20%;
    margin-top: 0;
    margin-left: 30%;
    margin-right: 100px;

}
.navbar .logo{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 40px;
    padding-left: 30px;
    cursor: pointer;
    transition-duration: 50px;
}
.navbar .logo:hover{
    font-weight: 600;
    transform: scale(1.1);
}
.navbar .logo img{
    width: 25px;
    height: 25px;
}
.navbar .logo h1{
    font-size: 15px;
    font-weight: 800;
    position: relative;
    left: 11px;
    margin-top: 7px;
}
.navbar .barmenu img{
    display: none;
    width: 30px;
    height: 25px;
    cursor: pointer;
    transition-duration: 50px;
}
.navbar .barmenu img:hover{
    transform: scale(1.1);
}
.navbar .navmenu{
    display: flex;
    justify-content: center;
    width: 80%;
}
.navbar .navmenu .primary-menu{
    width: 50%;
    margin-left: 5%;
    margin-right: 10%;
}
.navbar .navmenu .primary-menu .menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    list-style-type: none;
}
.navbar .navmenu .primary-menu .menu li{
    margin: 15px;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
    color: #4f5665;
    cursor: pointer;
}
.navbar .navmenu .primary-menu .menu li a{
    text-decoration: none;
    color: inherit;
}
.navbar .navmenu .primary-menu .menu li:hover{
    color: #6a4029;
    font-weight: 700;
}
.navbar .navmenu .secondary-menu{
    width: 30%;
    margin-right: -5%;
}
.navbar .navmenu .secondary-menu .menu{
    display: flex;
    list-style-type: none;
    margin-top: 10px;
    padding-left: 10%;
}
.navbar .navmenu .secondary-menu .menu li{
    margin:25px 15px 15px 15px;
    font-size: 13px;
    cursor: pointer;
}
.navbar .navmenu .secondary-menu .menu li a{
    text-decoration: none;
    font-weight: 600;
}
.navbar .navmenu .secondary-menu .menu li .login{
    color: #000000;
}
.navbar .navmenu .secondary-menu .menu .signup{
    background-color: #ffba33;
    padding: 10px 25px;
    color: #6a4029;
    border-radius: 100px;
    transition-duration: 50ms;
}
.navbar .navmenu .secondary-menu .menu li .signup:hover{
    background-color: #6a4029;
    font-weight: 700;
    box-shadow: 1px 1px 10px #cccccc;
    color: white;
}
.navbar .navmenu .secondary-menu .menu li:hover{
    transform: scale(1.1);
}


@media  screen and (max-width: 1000px) {

    .navbar{
        width: 100%;
        padding-top: 15px;
        padding-left: 0%;
    }
    .navbar .icon{
        width: 100%;
        margin-bottom: -10px;
        display: flex;
        border-bottom: 2px solid   rgb(61, 59, 59);
    }
    .navbar .icon .logo {
        width: 60%;
        padding-left: 5%;
    }
    .navbar .barmenu{
        width: 40%;
        margin-right: 7%;
        display: flex;
        justify-content: flex-end;
    }
    .navbar .barmenu img{
        display: block;
    }
    .navbar .navmenu{
        display: none;
    }
    .navbar:hover .navmenu{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navbar .navmenu .primary-menu{
        width: 100%;
        margin-right: 5%;
        margin-top: -10px;
    }
    .navbar .navmenu .primary-menu .menu {
        width: 100%;
        display: grid;
        align-items: center;
        margin-left: -15px;
        padding-left: 0;
        justify-self: start;
        grid-row-gap: 10px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30px 30px;
    }
    .navbar .navmenu .primary-menu .menu li{
        padding-left: 10px;
        margin-top: 25px;
    }
    .navbar .navmenu .primary-menu .menu li:hover{
        background-color: #ffba33;
        text-align: left;
        width: 100%;
        height: 40px;
        padding-top: 10px;
    }
    .navbar .navmenu .secondary-menu{
        width: 100%;
        height: 50px;
        margin-right: 20%;
        justify-content: flex-start;
    }
    .navbar .navmenu .secondary-menu .menu{
        margin-top: -10px;
    }
}